version: "3.8"

services:
  grafana:
    image: grafana/grafana:10.2.0
    container_name: grafana
    ports:
      - "3000:3000"
    environment:
      GF_AUTH_ANONYMOUS_ENABLED: "true"
      GF_AUTH_ANONYMOUS_ORG_ROLE: "Admin"
    volumes:
      - grafana-data:/var/lib/grafana
      - ./provisioning:/etc/grafana/provisioning
    networks:
      - monitoring

  loki:
    image: grafana/loki:2.9.3
    container_name: loki
    ports:
      - "3100:3100"
    command:
      - -config.file=/etc/loki/local-config.yaml
      - -log-level=debug
    volumes:
      - ./loki-config.yaml:/etc/loki/local-config.yaml
    networks:
      - monitoring

  tempo:
    image: grafana/tempo:2.3.1
    container_name: tempo
    command: ["-config.file=/etc/tempo.yaml"]
    volumes:
      - ./tempo-config.yaml:/etc/tempo.yaml
    ports:
      - "3200:3200"
      - "4317:4317"
      - "4318:4318"
    networks:
      - monitoring

  hotrod:
    image: jaegertracing/example-hotrod:latest
    container_name: hotrod
    command: ["all", "--otel-exporter=otlp"]
    environment:
      OTEL_EXPORTER_OTLP_ENDPOINT: "http://tempo:4318"
      OTEL_EXPORTER_OTLP_PROTOCOL: "http/protobuf"
    ports:
      - "8080:8080"
    labels:
      logging: "promtail"
    networks:
      - monitoring

  log-generator:
    image: mingrammer/flog:0.4.3
    container_name: log-generator
    command: ["-f", "json", "-t", "log", "-d", "1s", "-l"]
    labels:
      logging: "promtail"
    networks:
      - monitoring

volumes:
  grafana-data:

networks:
  monitoring:
